
body {
    font-family: 'Poppins', 'Noto Serif Hebrew', sans-serif;
    background-color: #e9cf67;
    background: linear-gradient(0deg, rgba(233,207,103,1) 0%, rgba(255,247,198,1) 13%, rgba(243,228,139,1) 30%, rgba(255,229,74,1) 50%, rgba(243,228,139,1) 72%, rgba(255,247,198,1) 88%, rgba(233,207,103,1) 100%);
    color: #333;
    margin: 0px;
    overflow-x: hidden;

.card {
    width: 100%;
}

.col-12, .card {
    padding: 0 !important;
    margin: 0 !important;
}

.card-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card1 {
    width: 50%;
    max-width: 25rem;
    background-color: #fffebd;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-in-out;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

section {
    padding: 10px 0;
}

.line {
    background-color: #f4f000;
    height: 4px;
    width: 60px;
    margin: 0 auto;
}

.card-title {
    font-size: 2rem;
    color: #000000;
}

@media (max-width: 576px) {
    .card-img-overlay .card-title {
        font-size: 1.2rem;
        text-align: center; 
    }
}

.yt {
    width: 100vw;
}

footer {
    background-color: rgba(255, 247, 195, 0.782);
    color: #000000;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100vw;
}

footer p {
    margin: 0px;
}
