@font-face {
  font-family: 'BebasNeue';
  src: url('font/BebasNeue-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'TLOU';
  src: url('font/11.ttf') format('truetype');
}

[data-bs-theme="pink"] {
  --bs-body-bg: #FFF6DA;
  --bs-tertiary-bg: #F4D793;
}

.navbar {
  background-color: var(--bs-tertiary-bg);
}

.card{
  font-family: 'BebasNeue', sans-serif !important;
}

.card-title1 {
  text-align: justify;
  font-family: 'TLOU', sans-serif;
  font-weight: lighter;
}

@media (max-width: 576px) {
  .card-title,
  .card-title1 {
    font-size: 15px;
  }
}