@font-face {
    font-family: 'Animal Insting';
    src: url('../assets/fonts/Animal_Insting.ttf') format('truetype');
}

.container {
    font-family: 'Animal Insting', sans-serif;
}

.navbar{
    font-family: 'Poppins', sans-serif;
}

.btn-primary {
    background-color: #eeb974;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: #c69350;
}

#container {
    margin: 50px;
    position: relative;
}

.dog-head {
    position: relative;
    z-index: 2;
    -webkit-animation: head-move 0.5s ease-in-out infinite;
}

.dog-body {
    height: 300px;
    width: 225px;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('http://www.clker.com/cliparts/T/0/9/J/e/4/dog-body-md.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

@-webkit-keyframes head-move {
    50% {
        -webkit-transform: rotate(-1.5deg);
    }
}

.imgContainer {
    width: 200px;
    height: 180px;
  }

  .imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.imgContainer {
    background-color: lightgray;
    border-radius: 20px;
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px;
    overflow: hidden; 
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}