[data-bs-theme="beige"] {
    --bs-body-bg: #DEA790;
    --bs-tertiary-bg: #A45A52;
}

[data-bs-theme="dark"] {
    --bs-body-bg: #343a40;
    --bs-tertiary-bg: #495057;
}

@font-face {
    font-family: 'Merienda One';
    src: url('MeriendaOne-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.navbar {
    background-color: var(--bs-tertiary-bg) !important;
}

.nav-link{
    font-family: 'Merienda One';
}

.title{
    padding: 15px;
    margin-left: 50px;
    color: #050505;
    font-size: 90px;
    font-family: 'Merienda One';
}

.image{
    justify-content: center;
    padding: 50px;
    height: 100vh;   
}

.zoom-button {
    display: block;
    width: 100%;
    height: 800px; 
    background-size: cover;
    background-position: center;
    transition: all 0.5s ease;
    position: relative;
    text-decoration: none;
}

.zoom-button:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.zoom-button.zoomed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

.title1{
    padding: 15px;
    justify-content: center;
    color: #050505;
    font-size: 30px;
    font-family: 'Merienda One';
}

.footer {
    background-color: var(--bs-body-bg);
    color: #050505;
    font-family: 'Merienda One';
    text-align: center;
    padding: 10px;
    justify-content: center;
}

