/*PUT YOUR CUSTOM STYLE HERE*/

/*!This style is important, do not override!*/
/* Ensure your custom font is applied */
@font-face {
    font-family: 'CandyShopPersonalUse';
    src: url('../assets/fonts/CandyShopPersonalUse.ttf') format('truetype');
}

@font-face {
    font-family: 'HeyComic';
    src: url('../assets/fonts/HeyComic.ttf') format('truetype');
}

/* Apply the font with !important to override Bootstrap styles */
body {
    font-family: 'CandyShopPersonalUse', sans-serif !important;
}

/* Apply font to navbar */
.navbar {
    font-family: 'CandyShopPersonalUse', sans-serif !important;
    background-color: #f37ae1 !important; 
}

.navbar-brand, .nav-link{
	font-family: 'CandyShopPersonalUse', sans-serif !important;
}